.input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .select-input-container {
    margin-bottom: 20px;
  }
  
  .select-input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .search-bar-container {
    margin-bottom: 20px;
  }
  
  .search-bar-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  